# Day 2 Python Basics

1) DataTypes
2) Data Structures
3) Loops
4) Loop Statements
5) Inbuilt Functions

In [2]:
# string

"apple is a fruit"

'apple is a fruit'

In [4]:
a="apple is a fruit"

In [5]:
# integer

b=25

In [6]:
# float

c=36.56

In [7]:
# boolean

x=True

1) String

In [8]:
m="Today is 2nd class is MSME training week 1."

Indexing

"T o d a y   i s   2 n d      c  l  a  s  s     i  s  M  S  M  E     t  r  a  i  n  i  n  g     w  e  e  k     1  ."
 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41->>> Forward Indexing
 -40 -39 -38                                 ...                                                      -5 -4 -3 -2 -1<<<--- Reverse Indexing

In [9]:
# forward indexing to get "2" from the string

m[9]

'2'

In [15]:
# reverse indexing to get the same value

m[-34]

'2'

In [16]:
# slicing forward indexing

m[13:18]

'class'

In [23]:
# slicing reverse method

m[-30:-25]

'class'

In [24]:
m[:10]

'Today is 2'

In [25]:
m[26:]

' training week 1.'

In [28]:
# M1. Index

m.index("class")

13

In [32]:
# Removing or replacing a substring

m=m.replace("MSME","****")

In [33]:
m

'Today is 2nd class is **** training week 1.'

In [34]:
m.replace("****","")

'Today is 2nd class is  training week 1.'

In [36]:
m=m.replace("****","")

In [37]:
m

'Today is 2nd class is  training week 1.'

In [39]:
m.index("training")

23

In [46]:
m=m[:19]+"in MSME "+m[23:]

In [47]:
m

'Today is 2nd class in MSME training week 1.'

In [49]:
m.upper()

'TODAY IS 2ND CLASS IN MSME TRAINING WEEK 1.'

In [50]:
m.lower()

'today is 2nd class in msme training week 1.'

In [51]:
m.count("a")

3

In [53]:
m.islower()

False

In [55]:
v=m.lower()

In [57]:
v.islower()

True

In [58]:
v.capitalize()

'Today is 2nd class in msme training week 1.'

In [59]:
v.isnumeric()

False

In [60]:
u="25"

In [61]:
u.isnumeric()

True

In [66]:
m.endswith(".")

True

In [70]:
o=m.capitalize()

In [71]:
o.casefold()

'today is 2nd class in msme training week 1.'

In [76]:
"class2".isalnum()

True

In [77]:
m='Today is 2nd class in msme training week 1.'

In [85]:
v="23"

In [86]:
v.isnumeric()

True

In [87]:
v.isdecimal()

True

2) Integer

In [88]:
g=256

In [89]:
g

256

In [90]:
k=300

In [91]:
g+k

556

In [92]:
g*5

1280

In [93]:
g/3

85.33333333333333

In [94]:
g-k

-44

In [95]:
g%2

0

In [96]:
25/2

12.5

In [97]:
25%2

1

3) Float

In [99]:
m=36.56

In [101]:
g

256

In [100]:
m+g

292.56

4) Boolean

True , False

In [102]:
True

True

In [103]:
False

False

Important Methods Used With The String

In [109]:
n=" My Mobile Number "

In [105]:
n.strip()

'My Mobile Number'

In [108]:
n.lstrip()

'My Mobile Number '

In [110]:
n.rstrip()

' My Mobile Number'

In [111]:
n.strip()

'My Mobile Number'

In [112]:
n.replace(" ","")

'MyMobileNumber'

In [114]:
a="My Mobile Number"

In [119]:
print(a+":59849823198498")
print("Name".ljust(16," ")+":Chandrakanth")

My Mobile Number:59849823198498
Name            :Chandrakanth

In [122]:
print("Name".rjust(16,"*")+":Chandrakanth")

************Name:Chandrakanth

In [123]:
#  Task 1: Print your Name, Email Address, Mobile number, Favourite Color in perfect table alignment

#  Task 2: Calculate the area of the circle provided radius of the circle r=24 using formula 3.14*(r*r)

#  Task 3: Find whether a particular number 73 is odd or even using % operator.

#  Task 4: Convert the word "i & lOve # PytHon # proGraMMing * " to "I love python programming." using the methods taught

II. DATA STRUCTURES

In [124]:
# Tuple
# List
# Set
# Dictionary

In [125]:
# Tuple

In [126]:
c=("apple","ball","cat","dog","elephant")

In [127]:
c

('apple', 'ball', 'cat', 'dog', 'elephant')

In [128]:
d=("apple",26,36.56)

In [129]:
c[3]

'dog'

In [131]:
c[-2]

'dog'

In [132]:
c[1:]

('ball', 'cat', 'dog', 'elephant')

In [133]:
c

('apple', 'ball', 'cat', 'dog', 'elephant')

In [134]:
c[1]="balloon"

TypeError: 'tuple' object does not support item assignment

In [135]:
n=("airbag","banana","papaya")

In [137]:
m=c+n

In [138]:
m

('apple', 'ball', 'cat', 'dog', 'elephant', 'airbag', 'banana', 'papaya')

In [140]:
m.count("jhc hc")

0

In [141]:
m.index("dog")

3

In [142]:
m.index("cvgdgjvg")

ValueError: tuple.index(x): x not in tuple

In [144]:
# List

# homogenous List

l=["apple","ball","cat","duck","elephant","fan","gate"]

# heterogenous list

l2=["apple",25,36.56,False]

# list within a list

l3=[["apple",25,36.56,False],["apple","ball","cat","duck","elephant","fan","gate"],True, False]

# tuple within a list

l4=[("apple","ball","cat"),("good","better","best")]

# dictionary within a list

l5=[{"a":"apple","b":"ball","c":"cat","d":"duck"}]

In [145]:
l[2]

'cat'

In [146]:
l[-5]

'cat'

In [147]:
l[1:-1]

['ball', 'cat', 'duck', 'elephant', 'fan']

In [148]:
l[:5]

['apple', 'ball', 'cat', 'duck', 'elephant']

In [150]:
l[-5:]

['cat', 'duck', 'elephant', 'fan', 'gate']

In [151]:
l.append("fan")

In [152]:
l

['apple', 'ball', 'cat', 'duck', 'elephant', 'fan', 'gate', 'fan']

In [160]:
l.index("fan")

5

In [154]:
l[l.index("fan")]="hen"

In [157]:
l[-3]="fan"

In [158]:
l[-1]="hen"

In [163]:
l.reverse()

In [164]:
l

['hen', 'gate', 'fan', 'elephant', 'duck', 'cat', 'ball', 'apple']

In [165]:
nl=['elephant', 'duck', 'cat', 'ball', 'apple','hen', 'gate', 'fan']

In [166]:
nl.sort()

In [167]:
nl

['apple', 'ball', 'cat', 'duck', 'elephant', 'fan', 'gate', 'hen']

In [168]:
nl2=['elephant', 'duck', 'cat', 'ball', 'apple','hen', 'gate', 'fan']

In [169]:
nl2.sort(reverse=True)

In [170]:
nl2

['hen', 'gate', 'fan', 'elephant', 'duck', 'cat', 'ball', 'apple']

In [172]:
nl3=[25,"apple","ball",36.58,56.42]

In [173]:
nl3.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [174]:
nl.count("apple")

1

In [175]:
nl_new=nl.copy()

In [176]:
nl_new

['apple', 'ball', 'cat', 'duck', 'elephant', 'fan', 'gate', 'hen']

In [177]:
nl

['apple', 'ball', 'cat', 'duck', 'elephant', 'fan', 'gate', 'hen']

In [178]:
nl.insert(3,"dog")

In [179]:
nl

['apple', 'ball', 'cat', 'dog', 'duck', 'elephant', 'fan', 'gate', 'hen']

In [180]:
nl.pop(4)

'duck'

In [181]:
nl

['apple', 'ball', 'cat', 'dog', 'elephant', 'fan', 'gate', 'hen']

In [182]:
nl.remove("gate")

In [183]:
nl

['apple', 'ball', 'cat', 'dog', 'elephant', 'fan', 'hen']

In [184]:
nl.extend(["gate","tree","river"])

In [185]:
nl

['apple',
 'ball',
 'cat',
 'dog',
 'elephant',
 'fan',
 'hen',
 'gate',
 'tree',
 'river']

In [189]:
nl4=nl+['home',"ocean","bank"]

In [190]:
nl4

['apple',
 'ball',
 'cat',
 'dog',
 'elephant',
 'fan',
 'hen',
 'gate',
 'tree',
 'river',
 'home',
 'ocean',
 'bank']

In [191]:
# Dictionary

In [192]:
b={"a":"apple","b":"ball","c":"cat","d":"dog"}

In [193]:
b["a"]

'apple'

In [194]:
b["c"]

'cat'

In [195]:
d2={"a":"apple","A":"apple","b":"ball"}

In [196]:
d2

{'a': 'apple', 'A': 'apple', 'b': 'ball'}

In [197]:

d2={"a":"apple","a":"ant","b":"ball"}

In [198]:
d2

{'a': 'ant', 'b': 'ball'}

In [200]:
d2.keys()

dict_keys(['a', 'b'])

In [201]:
d2.values()

dict_values(['ant', 'ball'])

In [202]:
d2.update({"c":"cat",'d':"duck"})

In [203]:
d2

{'a': 'ant', 'b': 'ball', 'c': 'cat', 'd': 'duck'}

In [204]:
d2.pop("d")

'duck'

In [205]:
d2

{'a': 'ant', 'b': 'ball', 'c': 'cat'}

In [207]:
d2.update(b)

In [208]:
d2

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'}

In [215]:
nestedDictionary={"a":{"1":"ant","2":"banana"},"b":[1,2,3,4,5,6],
                  "c":("apple",25,True),"d":False,25:"papaya",63.56:"lemon",True:[]}

In [216]:
nestedDictionary

{'a': {'1': 'ant', '2': 'banana'},
 'b': [1, 2, 3, 4, 5, 6],
 'c': ('apple', 25, True),
 'd': False,
 25: 'papaya',
 63.56: 'lemon',
 True: []}

In [217]:
# JSON - Javascript Object Notation

In [218]:
# Task1: Create an heterogenous nested dictionary that contains informations related to vegetables.

# Task2: Create a homogenous dictionary of prime numbers keys between 1 to 25 and values for each key is a list of two numbers
# divisible by the corresponding key between 1 to 100.

Loops

In [219]:
# For Loop

# While Loops

In [224]:
for i in range(5,100,10):

    print(i)

5
15
25
35
45
55
65
75
85
95

In [226]:
m='TODAY IS 2ND CLASS IN MSME TRAINING WEEK 1.'

In [227]:
for char in m:

    print(char)

T
O
D
A
Y

I
S

2
N
D

C
L
A
S
S

I
N

M
S
M
E

T
R
A
I
N
I
N
G

W
E
E
K

1
.

In [228]:

u=('apple', 'ball', 'cat', 'dog', 'elephant', 'airbag', 'banana', 'papaya')

for item in u:

    print(item)

apple
ball
cat
dog
elephant
airbag
banana
papaya

In [229]:

v=['apple', 'ball', 'cat', 'dog', 'elephant', 'airbag', 'banana', 'papaya']

for item in v:

    print(item)

apple
ball
cat
dog
elephant
airbag
banana
papaya

In [230]:
w={'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'}

In [233]:
for item in w.values():

    print(item)

apple
ball
cat
dog

In [234]:
for item in w.keys():

    print(item)

a
b
c
d

In [235]:
for k,v in w.items():

    print(k)

    print(v)

    print()

a
apple

b
ball

c
cat

d
dog

In [236]:
for i in range(10):

    print("number:",i)

    for j in range(5):

        print("Hello world")

number: 0
Hello world
Hello world
Hello world
Hello world
Hello world
number: 1
Hello world
Hello world
Hello world
Hello world
Hello world
number: 2
Hello world
Hello world
Hello world
Hello world
Hello world
number: 3
Hello world
Hello world
Hello world
Hello world
Hello world
number: 4
Hello world
Hello world
Hello world
Hello world
Hello world
number: 5
Hello world
Hello world
Hello world
Hello world
Hello world
number: 6
Hello world
Hello world
Hello world
Hello world
Hello world
number: 7
Hello world
Hello world
Hello world
Hello world
Hello world
number: 8
Hello world
Hello world
Hello world
Hello world
Hello world
number: 9
Hello world
Hello world
Hello world
Hello world
Hello world

In [237]:
# While Loop

In [242]:
# find the first number divisible by 253 between 100 and 1000

numDiv=0

numIter=100

while numDiv==0:

    print(numIter)

    if numIter%253==0 and numIter!=253:

        numDiv=numIter
    
    numIter+=1

100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506

In [241]:
numDiv

506

In [244]:
# Loop Statements

# 1) Continue
# 2) Break
# 3) Pass

In [245]:
# find the first number divisible by 253 between 100 and 1000

numDiv=0

numIter=100

while numDiv==0:

    print(numIter)

    if numIter%253==0 and numIter!=253:

        break
    
    numIter+=1

100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506

In [246]:
numIter

506

In [248]:
iter=0

while True:

    iter+=1

    print(iter)

    if iter>100:

        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101

In [250]:
# continue


for i in range(100):

    print("iteration:",i)

    if i%10==0:

        print("".ljust(90,"*"))

        continue

    if i>50:

        break

    print("Hello World")

iteration: 0
******************************************************************************************
iteration: 1
Hello World
iteration: 2
Hello World
iteration: 3
Hello World
iteration: 4
Hello World
iteration: 5
Hello World
iteration: 6
Hello World
iteration: 7
Hello World
iteration: 8
Hello World
iteration: 9
Hello World
iteration: 10
******************************************************************************************
iteration: 11
Hello World
iteration: 12
Hello World
iteration: 13
Hello World
iteration: 14
Hello World
iteration: 15
Hello World
iteration: 16
Hello World
iteration: 17
Hello World
iteration: 18
Hello World
iteration: 19
Hello World
iteration: 20
******************************************************************************************
iteration: 21
Hello World
iteration: 22
Hello World
iteration: 23
Hello World
iteration: 24
Hello World
iteration: 25
Hello World
iteration: 26
Hello World
iteration: 27
Hello World
iteration: 28
Hello World
iteration: 29
Hello World
iteration: 30
******************************************************************************************
iteration: 31
Hello World
iteration: 32
Hello World
iteration: 33
Hello World
iteration: 34
Hello World
iteration: 35
Hello World
iteration: 36
Hello World
iteration: 37
Hello World
iteration: 38
Hello World
iteration: 39
Hello World
iteration: 40
******************************************************************************************
iteration: 41
Hello World
iteration: 42
Hello World
iteration: 43
Hello World
iteration: 44
Hello World
iteration: 45
Hello World
iteration: 46
Hello World
iteration: 47
Hello World
iteration: 48
Hello World
iteration: 49
Hello World
iteration: 50
******************************************************************************************
iteration: 51

In [252]:
a=53

if a<20:

    print("number is less than 20.")

else: 

    print("number is not less than 20.")

number is not less than 20.

COnditional Statements using If-Clause

In [256]:
a=23

if a<20:

    print("number is less than 20.")

elif a>=20 and a<50:

    print("number is between 20 and 50")

else: 

    print("number is not within any condition")

number is between 20 and 50

In [257]:
# Task 1: Find the even numbers present within a range 1 to 200 using for loop and while loop and add it to a list evennumbers.
#          print the evennumber list


# Task 2: print right angled triangle of base size 5

# *
# **
# ***
# ****
# *****

# Task 3: Find the total numeric values present in a nested dictionary

# numbers={"a":[25,56,38,42], "b":[63,25,44,32], "c":[65,86,63,24,49]}

In [ ]:
evennumbers=[]

## 
# find the even numbers
# evenumber.append(number)
##