## Inbuilt Functions

In [3]:
# len() -> It returns the length of the object

In [4]:
a="apple is a fruit"

In [5]:
len(a)

16

In [6]:
b=[1,2,3,4,6,8,10]

In [7]:
len(b)

7

In [8]:
len((1,4,5))

3

In [9]:
len({"a":"apple","b":"ball"})

2

In [11]:
# 2. type()

In [12]:
type(a)

str

In [13]:
type(b)

list

In [14]:
type({"a":"apple","b":"ball"})

dict

In [15]:
n=25
n1=36.35
n3=False

In [16]:
type(n)

int

In [17]:
type(n1)

float

In [18]:
type(n3)

bool

In [19]:
# range()

In [21]:
list(range(5,100,2))

[5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [22]:
# list()

In [24]:
list(a)

['a',
 'p',
 'p',
 'l',
 'e',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 'f',
 'r',
 'u',
 'i',
 't']

In [25]:
list((2,6,8))

[2, 6, 8]

In [26]:
v={"a":"apple","b":"ball","c":"cat"}

In [28]:
list(v.values())

['apple', 'ball', 'cat']

In [29]:
list(v.keys())

['a', 'b', 'c']

In [30]:
# str()

In [31]:
b=36

In [32]:
str(b)

'36'

In [33]:
str({"a":"apple","b":"ball"})

"{'a': 'apple', 'b': 'ball'}"

In [38]:
jsonFile=open("test.json","w")

In [39]:
jsonFile.write(str({"a":"apple","b":"ball"}).replace("'","\""))

27

In [40]:
jsonFile.close()

In [41]:
# dict()

In [43]:
obj=[("a","apple"),("b","ball"),("c","cat")]

In [44]:
dict(obj)

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [45]:
# min()
# max()
# sum()

In [46]:
num_list=[25,36,89,44,51,32,45,84]

In [47]:
min(num_list)

25

In [48]:
max(num_list)

89

In [49]:
sum(num_list)

406

In [101]:
# input

In [102]:
b=input("Enter the Name:")

In [103]:
b

'Chandrakanth'

## Functions

syntax

def NameOfFunction(nameofinput):

    "This is documentation string"

    print("hello world")

    output="printed"

    return output

In [50]:
# Normal Function

# Recursive Function

In [55]:
# Recursive Function - Example

def Factorial(num):

    "Calculates the factorial of a number"

    if num==1:

        return 1
    
    else:

        return num*Factorial(num-1)

In [52]:
6

1*2*3*4*5*6

720

In [54]:
Factorial(12)

479001600

In [60]:
def AddThreeNumbers(a,b,c=0):

    "Adds Three Numbers passed into the function"

    op=a+b+c

    return op

In [61]:
AddThreeNumbers(a=25,b=36)

61

In [63]:
print("*"*5)
print("*"*4)

*****
****

In [74]:
"*".rjust(8," ")

'       *'

In [66]:
def PrintTriangle(base):

    if base>0:

        PrintTriangle(base-1)

        print("*"*base)


# PrintTriangle(5)
# PrintTriangle(4)
# PrintTriangle(3)
# PrintTriangle(2)
# PrintTriangle(1)
# PrintTriangle(0) 
# *   
# **
# ***   
# **** 
# *****

In [65]:
PrintTriangle(5)

*
**
***
****
*****

In [68]:
def WelcomeUser(name):

    "Welcomes User"

    print("Hello "+ name)

In [69]:
WelcomeUser("Chandrakanth")

Hello Chandrakanth

In [70]:
# Return Me The Fibonaucci series of size n

# 6

# [1,1,2,3,5,8]

In [73]:
def FibonaucciSeries(length):

    "returns the fibonnauci series of length passed as input"

    series=[1]

    for i in range(length-1):

        series=series+[sum(series[-2:])]

    return series

In [72]:
FibonaucciSeries(8)

[1, 1, 2, 3, 5, 8, 13, 21]

In [75]:
# Task

# Create Left Angled Triangle Of Base Size 8

#       *
#      **
#     ***
#    ****
#   *****
#  ******
# *******
#********


# Use Recursive Function

# Use string.rjust() method

In [76]:
# *args , **kwargs

In [80]:
def Func(l,**kwargs):

    print(l)

    print(kwargs)

In [81]:
Func(l=[2,5,7],c=38)

[2, 5, 7]
{'c': 38}

In [82]:
def Func(l,*args):

    print(l)

    print(args)

In [85]:
Func([36],28,44,56,69,89,63)

[36]
(28, 44, 56, 69, 89, 63)

In [86]:
# Args to pass dynamic number of inputs

In [87]:
def SUM(lObj,*args):

    "sums the items present in the list in addition adds values from args"

    sumVal=sum(lObj)+sum(args)

    return sumVal

In [90]:
SUM([1,5,9],96,35,56)

202

In [91]:
# **KWargs

In [92]:
def Profile(name,**kwargs):

    print("Hello "+name)

    for key,val in kwargs.items():

        print(key.ljust(30," ")+":"+val)

In [93]:
Profile(name="Chandrakanth",mobilnum="5368423569",city="Chennai",state="TamilNadu")

Hello Chandrakanth
mobilnum                      :5368423569
city                          :Chennai
state                         :TamilNadu

In [94]:
# *args

# Multiply all the numbers in a list and add it to the values passed as args

# **kwargs

# Based on input parameters length and breadth print whether an object is square or rectangle. 
# In addition to that print additional attributes passed as **kwargs as features of the object

## CLASS- OOPS(Object Oriented Programming Strucuture)

In [95]:
class Numbers:

    def __init__(self,a,b):

        self.a=a

        self.b=b

    # def GetAttrs(self,):

    #     self.mobileNum=input("Enter your mobile number")
    

    def Add(self):

        return self.a+self.b
    
    def Subtract(self):

        return self.a-self.b
    
    def Multiplication(self):

        return self.a*self.b
    
    def Division(self):

        return self.a/self.b

In [96]:
numObj=Numbers(a=10,b=25)

In [97]:
numObj.Add()

35

In [98]:
numObj.Subtract()

-15

In [99]:
numObj.Multiplication()

250

In [100]:
numObj.Division()

0.4

In [104]:
# Create Class Profile

# Input

# Name 


# Create A Function to get below parameters using inbuilt input function

# Phone Numbers

# Address

# City

# State

# linkedurl


# Create A FUnction which will print all the attributes in a table format

In [109]:
class Profile:

    def __init__(self,name):
        self.name=name
    

    def GetAttributes(self):

        print("Hello ",self.name)

        self.mobileNumber=input("Enter your Mobile Number")

        self.address=input("Enter your address")

        self.city=input("Enter your city name")

        self.linkedIn=input("Enter your linked profile URL")

    

    def PrintProfile(self):

        print("Name".ljust(30," ")+":"+self.name)

        print("Address".ljust(30," ")+":"+self.address)

        print("Mobile Number".ljust(30," ")+":"+self.mobileNumber)

        print("City".ljust(30," ")+":"+self.city)

        print("LinkedIn URL".ljust(30," ")+":"+self.linkedIn)

In [110]:
prof=Profile("Chandrakanth")

In [111]:
prof.GetAttributes()

Hello  Chandrakanth

In [112]:
prof.PrintProfile()

Name                          :Chandrakanth
Address                       :1/160, kva street, pudupakkam
Mobile Number                 :
City                          :chennai
LinkedIn URL                  :www.linkedin.com/chandrakanth_karunakaran

In [113]:
# Class Inheritance

In [120]:
class Transaction(Profile):

    def __init__(self,transactionID,name):

        self.transactionID=transactionID

        self.name=name

        self.profile=Profile(name)

    
    def CreateTransaction(self):

        print("Transaction Created")

In [121]:
trans1=Transaction("tr000001","chandrakanth")

In [122]:
trans1.GetAttributes()

Hello  chandrakanth

In [123]:
trans1.PrintProfile()

Name                          :chandrakanth
Address                       :jhvhujcvvyucbwi
Mobile Number                 :818+492498489
City                          :hjvchudbh
LinkedIn URL                  :gwdvcgvyuj

## Exception Handling

In [126]:
mobileNumber=int(input("Enter your Mobile Number:"))

In [127]:
mobileNumber

956825314

In [131]:
try:

    mobileNumber=int(input("Enter your mobile number"))

except ValueError:

    print("Enter numbers alone into the input box!!!")

    mobileNumber=int(input("Enter your mobile number again."))

Enter numbers alone into the input box!!!

In [132]:
mobileNumber

7523652435

In [134]:
try:

    mobileNumber=int(input("Enter your mobile number"))

    if len(str(mobileNumber))!=10:

        raise Exception("Mobile Number should be 10 characters length")

except ValueError:

    print("Enter numbers alone into the input box!!!")

    mobileNumber=int(input("Enter your mobile number again."))

Exception: Mobile Number should be 10 characters length